<ion-view title="Friends">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content has-header="true">

        <!-- <ion-list>
            <ion-item ng-repeat="friend in friends" href="#">
                {{friend}}
            </ion-item>
        </ion-list> -->
        <div ng-repeat="friend in friends" class="list card">
          <p>{{friend.name}}</p>
        </div>

    </ion-content>

</ion-view>
