<ion-view title="Photo" hide-back-button="true">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="true">

        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>

        <div ng-repeat="item in items" class="list card">
            <div class="item item-avatar">
                <img src="https://graph.facebook.com/{{item.from.id}}/picture"/>
                <h2>{{item.from.name}}</h2>
                <p>{{item.created_time | date:'MMM d, y h:mma'}}</p>

            </div>
            <div class="item item-body">
              <img ng-src="{{item.picture}}"/>

            </div>
            <div class="item item-body">{{item}}</div>
            <!-- <div class="item item-body">
                <p ng-if="item.story">{{item.story}}</p>

                <p>{{item.message}}</p>
                <p>
                  <a href="#" class="subdued" ng-click="showLikes = ! showLikes">
                    {{item.likes.data.length}} Likes</a>
                  <a href="#" class="subdued" ng-click="showComments = ! showComments">
                    {{item.comments.data.length}} Comments</a>
                </p>
                <div ng-show="showLikes">
                  <p ng-repeat="like in item.likes.data">{{like.name}}</p>
                </div>
                <div ng-show="showComments">
                  <p ng-repeat="comment in item.comments.data">{{comment.from.name}}</p>
                </div>

                <img ng-if="item.picture" ng-src="{{ item.picture }}"/>
            </div> -->

        </div>

    </ion-content>

</ion-view>
